.button-1 {
    background-color: bisque;
}
.button-1::before {
    content: 'Pasa por encima';
}
.button-1:hover {
    color: white;
    background-color: green;
}
.button-1:hover::before {
    content: '¡Hecho!';
}